@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&amp;subset=latin-ext");

body {
    margin: 0;
    background-color: #eee;
}

h3, h4, h6 {
    font-family: 'Great Vibes', cursive;
    color: #444;
    font-weight: 400;
}

h3 {

    font-size: 3em;
    margin: 10px 0 0 0;
}

h4 {
    font-size: 2.5em;
    margin: 10px;
}